# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
venv/
.env/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# SQLite database files (optional: if you don’t want to commit your db)
*.db
*.sqlite3

# Logs
*.log

# === PyCharm ===
.idea/
*.iml
*.iws
.shelf/
workspace.xml
# Editor-based HTTP Client requests
httpRequests/
# Datasource local storage ignored files
dataSources/
dataSources.local.xml

# macOS
.DS_Store
